<div class="d-flex flex-column vh-100">
  <div class="d-flex flex-grow-1 overflow-hidden main-container">
    
    <app-sidebar 
      [isMinimized]="isSidebarMinimized" 
      [ngClass]="{'minimized': isSidebarMinimized}">
    </app-sidebar>

   
    <main class="flex-grow-1 d-flex flex-column overflow-hidden content-area"> 
      
      
      <app-navbar (toggleSidebarEvent)="toggleSidebar()"></app-navbar>

     
      <div class="flex-grow-1 p-4 overflow-auto">
        <router-outlet></router-outlet>
      </div>

      
      <app-footer></app-footer>
    </main>
  </div>
</div>