<div class="d-flex flex-column vh-100 pt-2 pb-2 sidebar-dark border-right" [ngClass]="{'minimized': isMinimized}">
  <div class="text-center mb-4 logo-section">
    <h5 class="fw-bold full-brand text-primary" *ngIf="!isMinimized">CareConnect</h5>
   <img src="assets/careConnect-logo.png" alt="Logo" width="40" class="mini-logo" [ngClass]="{'visible': isMinimized}" />
  </div>

 <ul class="nav flex-column sidebar-nav flex-grow-1 px-3">
  <li class="nav-item-title text-uppercase mt-2 mb-2" *ngIf="!isMinimized">
    MENU
  </li>

  <ng-container *ngIf="authService.getUserRole() === userRoles.Admin">
    <li class="nav-item">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center"
      >
        <i class="bi bi-speedometer2 me-2 fs-5"></i>
        <span *ngIf="!isMinimized">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        routerLink="/admin/doctorsList"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center"
      >
        <i class="bi bi-person-badge me-2 fs-5"></i>
        <span *ngIf="!isMinimized">Doctors</span>
      </a>
    </li>
  </ng-container>

  <ng-container *ngIf="authService.getUserRole() === userRoles.Doctor">
    <li class="nav-item">
      <a
        routerLink="/doctor/dashboard"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center"
      >
        <i class="bi bi-speedometer2 me-2 fs-5"></i>
        <span *ngIf="!isMinimized">Dashboard</span>
      </a>
    </li>
  </ng-container>

</ul>

</div>